---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import { Icon } from "astro-icon/components";
import Link from "@components/ui/link.astro";
import linearThumbnail from "@assets/linear-thumbnail.png";
import { Picture } from "astro:assets";

const projects = [
  {
    thumbnail: linearThumbnail,
    type: "UI/UX Design Practice · Landing Page Replication",
    title: "Linear.app - Design Case Study",
    description:
      "I recreated Linear.app's homepage in Figma—not to clone it, but to study what makes it feel so effortlessly clean and structured. This deep-dive helped me sharpen my eye for hierarchy, spacing, and typography, while also leveling up my layout and component skills. Check out the full breakdown to see what I uncovered.",
    figmaLink:
      "https://www.figma.com/proto/bptnwNw3ILrpQuQUXZeWIE/Linear-app?page-id=134%3A76&node-id=134-77&viewport=483%2C40%2C0.05&t=YOdf4RG5dPbhmgo2-1&scaling=contain&content-scaling=responsive",
    notionLink:
      "https://uiuxwithshree.notion.site/I-Replicated-Linear-Here-s-What-Happened-ft-Case-Study-21c1f6b475fb80a4a7dbfae47db62938",
  },
];
---

<Layout title="Work">
  <Container>
    <Sectionhead>
      <Fragment slot="title">My Work</Fragment>
      <Fragment slot="desc">
        Here's a glimpse of the work I'm proud of - projects that challenged me,
        inspired me, and made me a better designer.
      </Fragment>
    </Sectionhead>

    <main class="mt-16">
      <ul class="grid gap-16 max-w-4xl mx-auto">
        {
          projects.map((project, index) => (
            <li>
              <div class="grid md:grid-cols-2 gap-5 md:gap-10 items-center">
                <Picture
                  src={project.thumbnail}
                  alt={project.title}
                  sizes="(max-width: 400px) 100vw, 250px"
                  class="rounded-2xl"
                  quality={100}
                  loading="eager"
                  format="avif"
                />
                <div>
                  <span class="text-pink-400 uppercase tracking-wider text-sm font-medium">
                    {project.type}
                  </span>

                  <h2 class="text-3xl font-semibold leading-snug tracking-tight mt-1">
                    {project.title}
                  </h2>

                  <p class="text-gray-600 mt-2 text-base">
                    {project.description}
                  </p>

                  <div class="flex gap-4 mt-4">
                    <Link
                      href="#"
                      href={project.figmaLink}
                      target="_blank"
                      class="flex gap-1 items-center justify-center rounded-2xl"
                      rel="noopener">
                      <Icon class="size-5" name="simple-icons:figma" />
                      View Design
                    </Link>
                    <Link
                      size="lg"
                      style="outline"
                      rel="noopener"
                      href={project.notionLink}
                      class="flex gap-1 items-center justify-center rounded-2xl"
                      target="_blank">
                      <Icon class="size-5" name="simple-icons:notion" />
                      Project Overview
                    </Link>
                  </div>
                </div>
              </div>
            </li>
          ))
        }
      </ul>
    </main>
  </Container>
</Layout>
